<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Twitter Bot</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Emoji styles-->
    <link rel="stylesheet" href="dist/emojionearea.css">


</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Twitter Bot</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" th:action="@{/search}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for tweet" aria-label="Search"
                   aria-describedby="basic-addon2" id="content1" name="content">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

</nav>

<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="/database">
                <i class="fas fa-fw fa-folder"></i>
                <span>Tweets DataBase</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trends">
                <i class="fas fa-bolt"></i>
                <span>Trending Tweets</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/create">
                <i class="fab fa-twitter-square"></i>
                <span>Add Tweet</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div id="tweetCount" class="mr-5"> Tweets</div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-users"></i>
                            </div>
                            <div id="folCount" class="mr-5"> Followers</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Post Tweet-->
            <div class="row">
                <div class="col-md-6 ">
                    <div class="card card-register mx-auto mt-5">
                        <div class="card-header">Post Tweet</div>
                        <div class="card-body">
                            <form id="tweetForm">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2" for="content">Content</label>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" id="content"
                                                              maxlength="280"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Get Last Tweet-->
                <div class="col-md-6 ">
                    <div class="card card-register mx-auto mt-5">
                        <div class="card-header">Last Tweet</div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="contentResult">Content</label>
                                            <div class="col-lg-12">
                                                <div class="form-control" id="contentResult"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Twitter Bot © 2018</span>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Emoji script -->
    <script type="text/javascript" src="dist/emojionearea.js"></script>

    <!-- Custom scripts for twitter-->
    <script src="tweet.js"></script>


</div>
</body>

</html>
